.maincard__container {
    border-radius: 5px;
    background-color: grey;
    margin-left: 20px;
    margin-right: 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}


.maincard__photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.maincard__photo > img {
    width: 80%;
    height: 80%;
}



.maincard__title  > a{
    font-size: 25px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}

.maincard__description > p {
    margin-top: 15px;
    text-align: justify;
    width: 100%;
    height: 100%;

}
.maincard__title > a, .maincard__description > p {
    color:grey;
}
